@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #8cd4f0;
}
h2.cartBook {
  margin-left: 15px;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
  margin-left: 15px;
}
.section-p1 {
  padding: 40px 0;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  display: none;
}
button.normal:hover {
  background-color: #1E91B0;
  color: #fff;
}
body {
  width: 100%;
}
i {
  cursor: pointer;
}
#main {
  transition: margin-right .5s;
  padding: 16px;
}

.open-btn {
  font-size: 30px;
  cursor: pointer;
}
@media screen and (max-width: 758px) {
  h1 {
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h6 {
    font-size: 10px;
  }

  p {
    font-size: 14px;
    margin: 10px 0 15px 0;
    margin-left: 15px;
  }

  .section-p1 {
    padding: 20px 0;
  }

  .section-m1 {
    margin: 20px 0;
  }

  button.normal {
    font-size: 12px;
    padding: 10px 20px;
    display: none;
  }

  .open-btn {
    font-size: 24px;
  }
}

/* NAV-BAR SECTION */
/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 70px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 758px) {
  #header {
    
    padding: 20px; /* Sesuaikan padding sesuai kebutuhan untuk tampilan mobile */
  }
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #1E91B0;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #1E91B0;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #1E91B0;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.header-list-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media screen and (max-width: 758px) {
  .header-list-nav ul {
    display: block; /* Sembunyikan daftar menu saat tampilan mobile */
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 998;
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
  }
  .header-list-icon a:hover,
  .header-list-nav ul a.active {
    color: #1E91B0;
  }
  .header-list-nav ul li a:hover::after,
  .header-list-nav ul li a.active::after {
    content: "";
    width: 50%;
    height: 2px;
    background: #1e90b000;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  .header-list-nav ul.active {
    max-height: 400px; /* Atur max-height yang sesuai untuk menampilkan menu */
  }

  .header-list-nav ul li {
    width: 100%;
    text-align: center;
    padding: 20px 85px;
  }
  .checkbtn {
    display: block; /* Tampilkan tombol hamburger menu */
    position: absolute;
    padding: 10px 10px;
    right: -30px; /* Sesuaikan posisi horizontal ke kanan sesuai kebutuhan */
    z-index: 999; 
  }
  .checkbtn i {
    font-size: 30px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease; /* Animasi perubahan warna */
  }
  
  
}


/* Sembunyikan checkbox pada tampilan mobile */
#check {
  display: none;
}

/* Tombol responsif disembunyikan secara default */
.responsive-button {
  display: none; 
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #8cd4f0;
  color: rgb(61, 61, 61);
  padding: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Menunjukkan tombol responsif hanya pada lebar layar kurang dari 650px */
@media (max-width: 758px) {
  .responsive-button {
    display: block;
  }

  #tombol-keranjang {
    display: none; /* Menyembunyikan tombol utama pada lebar layar yang lebih kecil */
  }
}
/* Costumer Form styles */
.customer-form {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}


input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Style untuk tombol submit keranjang */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
}

button:hover {
  background-color: #45a048;
}

/* Sidenav styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* home main styles */

/* hero section styles */

#hero {
  background-image: url(../assets/images/hero4.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top -80% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}

#hero h4 {
  padding-bottom: 15px;
  font-size: 40px;
}
#hero h2{
  font-size: 70px;

}
#hero h1 {
  color: #1E91B0;
  font-size: 70px;
}
#hero p {
  color: #ffffff
}
#hero button {
  background-color: transparent;
  background-image: url(../assets/images/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 260px;
  height: 60px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 5px 65px 5px 65px;
}
/* Media queries untuk tampilan mobile */
@media screen and (max-width: 768px) {
  #hero {
    background-position: top center; /* Sesuaikan posisi latar belakang sesuai kebutuhan untuk tampilan mobile */
    padding: 40px; 
    height: 500px; 
  }

  #hero h4 {
    font-size: 21px; 
  }

  #hero h2 {
    font-size: 30px; 
  }

  #hero h1 {
    font-size: 50px; 
  }

  #hero p {
    color: #ffffff;
    font-size: 16px; 
  }

  #hero button {
    width: 200px; 
    height: 50px; 
    font-size: 18px; 
    padding: 5px 30px; 
  }
}


/* feature section styles */

#features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0; 
  overflow-x: auto; 
}
#features .f-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 10px; 
  transition: box-shadow 0.3s;
}
#features .f-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}
#features .f-box img {
  width: 100%;
  margin-bottom: 10px;
}
#features .f-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  color: #1E91B0;
  background-color: #fddde4;
}
#features .f-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .f-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .f-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .f-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .f-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* Media queries untuk tampilan layar lebih kecil */
@media screen and (max-width: 768px) {
  #features {
    flex-wrap: nowrap; /* Agar item tetap sejajar dalam satu baris */
  }
}

/* feature section styles */
.product-section {
  margin-right: 0px;
}

.product-section .pro-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 60px;
}
.product-section h1,
.product-section p {
  text-align: center;
}
.product-section .product-cart {
  width: 280px;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.2s;
  overflow: hidden;
}

.product-section .product-cart:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
  background-color: #b8f0ff; 
}
.product-section .product-cart img {
  width: 100%;
  border-radius: 25px;
}
.product-section .product-cart span {
  color: #969696;
  font-weight: 500;
  line-height: 30px;
}
.product-section .product-cart h4 {
  font-size: 18px;
  color: rgb(41, 41, 41);
}
.product-section .product-cart .stars
 {
  color: #ffc56f;
  padding: 6px 0;
}
.product-section .product-cart .price {
  color: #1E91B0;
  padding: 4px 0;
}
.product-section .product-cart .fa-solid {
  color: #1E91B0;
  background-color: #c7e9e75e;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* off banner section styles */

#off-banner {
  background-image: url(../assets/images/banner/b2.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#off-banner h4 {
  color: #eaebf0;
}
#off-banner h2 {
  color: #eaebf0;
  padding: 20px 0;
  text-align: center;
}


/* banners section styles */

#banners {
  margin: 0 60px;
}
#banners h2,
h4,
span {
  color: rgb(248, 248, 248);
}
#banners .big-banners {
  display: flex;
  align-items: center;
  justify-content: center;
}
#banners .big-banners div {
  min-width: 580px;
  margin: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  background-size: cover;
  backdrop-filter: blur(8%);
}
#banners .big-banners button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(248, 248, 248);
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
  transition: 0.3s ease;
  display: none;
}
#banners .big-banners div:hover button {
  background-color: #1E91B0;
  border: 1px solid #1E91B0;
}
#banners .big-banners-1 {
  background-image: url(../assets/images/banner/b17.jpg);
}
#banners .big-banners-2 {
  background-image: url(../assets/images/banner/b10.jpg);
}
#banners .small-banners-1 {
  background-image: url(../assets/images/banner/b7.jpg);
}
#banners .small-banners-2 {
  background-image: url(../assets/images/banner/b4.jpg);
}
#banners .small-banners-3 {
  background-image: url(../assets/images/banner/b18.jpg);
}
#banners .small-banners {
  display: flex;
  align-items: center;
  justify-content: center;
}
#banners .small-banners div {
  min-width: 370px;
  height: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  background-size: cover;
}
#banners .small-banners h2 {
  font-size: 25px;
}
#banners .small-banners h5 {
  color: #62CBEF;
}
/* Media queries untuk tampilan mobile */
@media screen and (max-width: 768px) {
  #banners {
    margin: 0 20px; 
  }

  #banners h2,
  #banners h4,
  #banners span {
    color: rgb(248, 248, 248);
    text-align: left; 
  }

  /* Big banners styles */
  #banners .big-banners {
    flex-direction: column; 
    align-items: center; 
    text-align: left; 
  }

  #banners .big-banners div {
    min-width: 100%; 
    margin: 15px 0; 
    height: auto; 
    padding: 15px;
  }

  #banners .big-banners button {
    margin-top: 20px;
  }

  /* Small banners styles */
  #banners .small-banners {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  #banners .small-banners div {
    min-width: 100%; 
    margin: 15px 0; 
    height: auto; 
    padding: 15px;
  }

  #banners .small-banners h2 {
    font-size: 20px;
  }

  #banners .small-banners h5 {
    font-size: 14px;
  }
}


/* newsletter section styles */

#newsletter {
  background-image: url(../assets/images/banner/b14.png);
  background-repeat: repeat;
  background-position: 180px;
  background-color: #041e42;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
}
#newsletter .newsletter-text {
  margin-right: 100px; 
}
#newsletter .newsletter-text h3 {
  color: white;
  font-size: 30px;
  padding: 0 0 15px 0;
}
#newsletter .newsletter-text h5 {
  color: rgb(151, 151, 151);
  font-size: 17px;
}
#newsletter .newsletter-text h5 span {
  color: rgb(216, 182, 29);
}
#newsletter .form input {
  padding: 20px;
  width: 350px;
  height: 56px;
  background-color: #d1d0d0;
  border-radius: 6px 0 0 6px;
  font-size: 18px;

  border: none;
  outline: none;
  margin-right: -4px;
  margin-top: 1px;
}
#newsletter .form button {
  margin-left: 0;
  padding: 20px;
  border: none;
  width: 120px;
  background-color: #1E91B0;
  color: white;
  font-size: 17px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
/* Media queries untuk tampilan mobile */
@media screen and (max-width: 768px) {
  #newsletter {
    background-image: url(../assets/images/banner/b14.png);
    background-repeat: repeat;
    background-position: center; 
    background-color: #041e42;
    height: auto; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
  }

  #newsletter .newsletter-text h3 {
    font-size: 24px;
    padding: 10px 0 15px 0; 
    text-align: center; 
    color: white;
  }

  #newsletter .newsletter-text h5 {
    font-size: 14px;
    text-align: center; 
    color: rgb(151, 151, 151);
  }

  #newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
  }

  #newsletter .form input {
    padding: 15px;
    width: 100%; 
    height: 56px;
    margin: 10px 0; 
    border-radius: 6px; 
  }

  #newsletter .form button {
    margin-top: 10px; 
    padding: 15px;
    width: 100%; 
    border-radius: 6px; 
  }
}
/* footer section styles */
#footer{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding: 75px;
  background-color: #ececec;
}
#footer p, #footer a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#footer a:hover{
  color:#1E91B0;
}
#footer .about a{
  display: block;
  padding:8px 0;
}
#footer .myaccount a{
  display: block;
  padding:8px 0;
}
.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.outer-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.inner-container {
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.heading-text {
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.sub-heading-text {
  line-height: 30px;
  color: rgb(73, 73, 73);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.name {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.position {
  line-height: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.card {
  display: block;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.card-img {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 300px;
}

.card-container {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.headings-container {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .name {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .card-img {
    width: 100%;
    min-width: 100%;
    height: 250px;
    min-height: 230px;
    max-height: 230px;
  }
}

@media (max-width: 768px) {
  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .name {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .heading-text {
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .sub-heading-text {
    text-align: center;
    color: rgb(122, 122, 122);
    max-width: 500px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .team-members-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .card {
    display: flex;
  }

  .card-img {
    max-width: 300px;
    min-width: 250px;
  }

  .headings-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .card {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .heading-text {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .inner-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .heading-text {
    text-align: left;
    line-height: 65px;
  }

  .sub-heading-text {
    color: rgb(122, 122, 122);
    text-align: left;
  }

  .name {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .inner-container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .outer-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .card-img {
    width: 100%;
  }

  .heading-text {
    font-size: 40px;
    line-height: 45px;
  }

  .card-img {
    min-width: auto;
  }
}
#footer .download img{
  border: 1px solid #08817969;
  border-radius: 7px;
}
/* Media queries untuk tampilan  */
@media screen and (max-width: 768px) {
  #footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding: 20px; 
    background-color: #ececec;
  }

  #footer p,
  #footer a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    text-align: center; 
  }

  #footer a:hover {
    color: #1E91B0;
  }

  #footer .about a,
  #footer .myaccount a {
    display: block;
    padding: 8px 0;
  }

  #footer .download img {
    border: 1px solid #08817969;
    border-radius: 7px;
    margin-top: 10px; 
  }

}
/* notification section styles */
.notification {
  display: none;
  position: fixed;
}

.notification.show {
  display: block;
}
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

#close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: #000;
}
.succes {
background-color: #1E91B0;
}
.succes-animation {
animation: succes-pulse 2s infinite;
}


.custom-modal {
position: relative;
width: 350px;
min-height: 250px;
background-color: #fff;
border-radius: 30px;
margin: 40px 10px;
}
.custom-modal .content { 
position: absolute;
width: 100%;
text-align: center;
bottom: 0;
}
.custom-modal .content .type {
font-size: 18px;
color: #999;
}
.custom-modal .content .message-type {
font-size: 47px;
font-weight: bold;
color: #000;
}
.custom-modal .icon-top {
position: absolute;
width: 100px;
height: 100px;
border-radius: 50%;
top: -30px;
margin: 0 125px;
font-size: 30px;
color: #fff;
line-height: 100px;
text-align: center;
}
@keyframes succes-pulse { 
0% {
  box-shadow: 0px 0px 30px 20px rgba(58, 112, 163, 0.2);
}
50% {
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.4);
}
100% {
  box-shadow: 0px 0px 30px 20px rgba(58, 112, 163, 0.2);
}
}